@media screen and (max-width: 800px) {
	/*  Fix Title Spacing / Size  */
	nav h1 a {
		letter-spacing: 0.1em;
		font-size: 1.25em;
		line-height: 3em;
	}

}


@media screen and (min-width: 460px) {
	/* Filter Selectors fit on same line */
	.filter-options select {
		width: auto;
	}
}