@media screen and (max-width: 1000px) {
	/*  Fix Title Spacing / Size  */
	nav h1 a {
		letter-spacing: 0.1em;
		font-size: 1.25em;
		line-height: 3em;
	}

}


@media screen and (min-width: 460px) {
	/* Filter Selectors fit on same line */
	.filter-options select {
		width: auto;
	}
}

@media screen and (min-width: 630px) {
	#restaurants-list li {
		width: calc(100% / 2 - 100px);
	}
	#restaurants-list .restaurant-img {
		min-height: 200px;
	}
}


@media screen and (min-width: 737px) {
	#restaurant-container h1 {
		width: 100%;
	}
	#restaurant-container {
		display: flex;
		flex-wrap: wrap;
	}
	.restaurant-img-cuisine-container, .address-hours-container {
		width: 50%;
	}
}


